__pycache__/
src/__pycache__/
src/Custos/__pycache__/
src/domus_ai.egg-info/
src/DomusAPI/__pycache__/
src/Faber/__pycache__/
src/Hestia/__pycache__/
src/Janus/__pycache__/
src/Lares/__pycache__/
src/Mentis/__pycache__/
src/Mercurius/__pycache__/


*.pyc
tests/.smoke_test_output/
